<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>
     <div class="main-content">
        {{>header}}
        <h2>{{title}}  {{erorrMessage}}</h2>
    </div>
    {{>footer}}
</body>
</html>