<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">œ
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>this site created by chezky matlin</p>
        <img class="portrat"  src="img/IMG_7856.jpeg">
    </div>
    {{>footer}}
</body>
</html>